Package: com.micselect.tweak
Name: MicSelect
Version: 0.1.0
Architecture: iphoneos-arm64
Description: Diagnostic microphone selector base for iOS 15
Maintainer: MicSelect
Author: MicSelect
Section: Tweaks
Depends: mobilesubstrate
