Package: com.tuusuario.micdefault
Name: MicDefault
Depends: mobilesubstrate | firmware (>= 15.0)
Version: 1.0
Architecture: iphoneos-arm64
Description: Fuerza el microfono por defecto en todo el sistema
Maintainer: Jose Manuel
Author: Jose Manuel
Section: Tweaks
